<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo!</title>
</head>
<body>
    <h1>{{nome}}, seja bem vindo ao seu mercado digital!</h1> 
    <p>Gostaria de agradecer pelo seu cadastro, é um privilégio ter clientes como você</p>
    <p>Espero que tenha um experiência incrível nessa plataforma que chegou para mudar sua vida!</p>
    <br></br>
    <p>Toda a nossa equipe agradece pela preferência</p>
</body>
</html>